*.json
ETL_Json/src/Data/
ETL_Json/src/output/
!ETL_Json/src/output/user_filtered.csv
# Build artifacts Scala/sbt
ETL_Json/target/
ETL_Json/project/target/
target/
project/target/
*.class
*.jar
*.zip
